* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-size: 1.4rem;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

.control-label {
  display: none;
}

// .background-image {
//   // background-image: asset-url('simplehdbg5.jpg');
//   min-height: 100vh;
//   background-size: cover;
//   background-image: no-repeat;
//   background-attachment: fixed;
// }

.main-container{
  min-height: calc(100vh - 88px);
  padding-top: 70px;

  color: black;
}


.navbar-toggler {
  border: none;
  color: white !important;
}

.nav-link-custom {
  text-transform: uppercase;
  color: white !important;
  font-size: 14px;
}