<div class="container">
  <h1 class="mb-5"> Your BOOSTED POSTS </h1>

  <div class="row">

        <div class="card-body">
          <% @jobs.each do |job| %>
            <div class="col-4 mt-4">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= job.created_at %></h5>
                </div>
                <% if job.image_url != nil %>
                  <img src="<%=job.image_url + "media/?size=m" %>" alt="Your latest Post" class="card-img-top">
                  <%= link_to 'job info',  user_job_path(params[:user_id], job.id) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
</div>

