<div id='#post'> <div>

<div id='#likes-given'> <div>





<div id='#results'>
  <div class="container margin-top-50 col-lg-5 col-xl-5 mx-auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"> </th>
          <th scope="col">LIKES RECEIVED</th>
          <th scope="col">FOLLOWERS GAINED </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">TOTAL</th>
          <td><%= @job.likes_received %></td>
          <td><%= rand(10..20)%></td>
        </tr>
        <tr>
          <th scope="row">THANKS TO BOT</th>
          <td><%= rand(10..50)%></td>
          <td><%= rand(0..10)%></td>
        </tr>
      </tbody>
    </table>
  </div>
<div>
