<div class="card">
  <div class="card-header">
    <img src="https://scontent-frx5-1.cdninstagram.com/vp/5bed0121e88155f1f3ad4cb2c649cffc/5E67CAC1/t51.2885-19/s150x150/18096529_1328738613870773_7370561022676959232_a.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com" alt="avatartest" class="avatartest">
    <h2>Post highlighted by the BOT</h2>
  </div>
  <div class="card-body">
    <% if @job.image_url != nil %>
      <img src="<%= @job.image_url + "media/?size=m" %>" alt="Your latest Post" class="img-thumbnail">
    <% end %>
    <p class="card-text"> <%= @job.caption %></p>
  </div>
</div>
