<body>
  <div class="container" style="max-width: 600px;">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="devise-bootstrap-form">
          <div class="devise-bootstrap-form-row">
            <div class="devise-bootstrap-form-col">
              <h1 class="text-center mt-3 mb-3">To Avoid Shadowband</h1>
              </br>
              <h2>PLEASE</h2>
              <div class="text-center">
                <p>
                Do not perform any action <span>(like follow and unfollow)</span> on your instagram account while the bot is working.
                </p> 
                </br>
                <p class="bold">If you whish to do so:</p>
                </br>
                <p>Stop the bot first </br> or </br> Wait until the 45min are over.</p>
              
              </div>
              <div class="btn btn-primary btn-block btn-lg"> I UNDERSTAND </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</body>