<body>
  <div class="container" style="max-width: 600px;">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="devise-bootstrap-form">
          <div class="devise-bootstrap-form-row">
            <div class="devise-bootstrap-form-col">
             <div class="imgHeadWrap">
              <%= image_tag "robot_orderEnd.png" %>
              <p class="CardHeading">thank you </br> for your </br> order! </p>
            </div>
            <span class="reminder">
            Don't forget to check our frequent questions section
            </span>
            <div class="btn btn-primary btn-block btn-lg">Let's get started!</div>
           </div>
            </div>
          </div>
        </div>
      </div>
    </div >
</body>