.margin-top-50 {
  margin-top: 50px !important;
}

#likes-given {
padding: 20px;
border: thin solid black;
border-radius: 15px;
}

#likes-given i {
  margin-right: 10px;
  margin-left: 10px;
}

.margins{
  margin-left: 10px;
  margin-bottom: 0px;
}

#post img {
  margin-bottom: 15px;
}

.card {
  width: auto;
  margin-bottom: 15px;
}


.card-header {
  display: flex;
  align-items: center;
  place-content: center;
}


#post .card-img {
//max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 492px) {
  #post .card-img {
    width: 100%;
  }
}
